body {
    background-color: black;
    object-fit: cover;
}

.home {
    height: fit-content;
}

header {
    height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.intro_1 {
    border-top: 1px solid white;
    background-position: center calc(5vh); /* Adjust the 70px accordingly */
    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.intro_1_title {
    color: white;
    margin: auto;
    height: fit-content;
    width: 60%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    .title_1 {
        margin-top: 20%;
        font-size: 250%;
        text-align: center;
    }
    .title_2 {
        font-size: 250%;
       color: rgb(240, 99, 99) ;
       text-align: center;
    }

    .title_3 {
        margin-top: 5%;
        text-align: center;
        color: white;
        font-size: 1em;
    }
}

.intro_2 {
    border-top: 1px solid white;
    background-position: center calc(5vh); /* Adjust the 70px accordingly */
    background-image: url("../images/wallpaper_3.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.intro_3 {
    border-top: 1px solid white;
    background-position: center calc(5vh); /* Adjust the 70px accordingly */
    background-image: url("../images/wallpaper_4.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {            
    .intro_1_title {

    .title_1 {
        font-size: 1em;
    }

    .title_2 {
        font-size: 1em;
    }

    .title_3 {
        font-size: 0.5em;
    }
    }
}