.trypage {
    background-color: black;
    height: 100vh;
}

.trypage_content {
    height: 90vh;
    width: 100vw;
    background-image: url('../../../assets/images/Screenshot\ 2023-10-16\ 172815.png');
    background-repeat: no-repeat ;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Here, 0.5 sets the transparency to 50% */
    background-blend-mode: multiply; /* You can use different blend modes for more advanced effects */
  }

  .trypage_cam_content {
    border: 1px solid white;
    margin-top: 1vh;
    height: 60vh;
    width: 70vw;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggle_s {
    transform: scale(0.8);
  }

  .toggle {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    color: white;
  }

  
@keyframes fadeIn {
  0% {
      opacity: 0; /* At the beginning of the animation, the opacity is 0 (fully transparent) */
  }
  100% {
      opacity: 1; /* At the end of the animation, the opacity is 1 (fully opaque) */
  }
}

  .prompt {
    position: absolute;
    top: 30vh;
    left: 50%;
    width: fit-content;
    height: 100px;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .prompt1 {
    top: 50%;
    padding: 5px;
    height: fit-content;
    font-size: 15px;
    background: rgb(0, 0, 0, 0.7);
    opacity: 0; /* Start with the element fully transparent */
    animation: fadeIn 2s ease-in forwards; /* Apply the fade-in animation */
    border: 2px solid aqua;
    box-shadow: 0px 0px 10px aqua;
  }
  
  .toggle {
    margin: 10px;
  }

  .current_letter {
    color: white;
    font-size: 25px;
    padding:0;
    margin:0;
  }

  .review_text {
    font-size: 1.5vh;
    margin: 5px;
    padding:0;
  }

  .time_remaining {
    color: white;
  }

  .points {
    color: white;
  }

  .stats {
    border: 2px solid aqua;
    border-radius: 20px;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    color: aqua;
  }

  .stats_middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right_arrow, .left_arrow {
    background-color: transparent;
    border: 1px solid aqua;
    color: aqua;
    font-size: 20px;
    font-weight: bold;    
    box-shadow: 2px 2px 8px white;
  }

  .right_arrow:hover {
    cursor: pointer;
    background-color: aqua;
    color: black;
  }
  
  .left_arrow:hover{
    cursor: pointer;
    background-color: aqua;
    color: black;
  }

  .aquaborder {
    border: 2px solid lime;
  }

  @media only screen and (max-width: 900px) {
    .trypage_cam_content {
      width: 90vw;
    }

    .toggle {
      width: 70vw;
    }

    .prompt {
      left: 50%
    }

    .stats {
      width: 90vw;
    }
  }